# Load Dataset

In [1]:
#load libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
from fuzzywuzzy import fuzz 
from fuzzywuzzy import process

In [2]:
df= pd.read_csv('C:/Users/camil/Desktop/Projeto Integrador/df.csv')

# Diretor

In [3]:
# um novo dataset só com os diretores
df_director = df[df.type == 'director']

In [21]:
df_director.name

0                    alan miller
1            armin mueller-stahl
2                   gérard pirès
3                    woody allen
4                    dan aykroyd
                  ...
67054    aleksa stefan radunovic
67055                ryan manley
67056    jude okwudiafor johnson
67057                brian corso
67058                  hepi mita
Name: name, Length: 67059, dtype: object

In [4]:
# pegar nome do diretor através do streamlit

# salvar o nome em um objeto
diretor_entrada = 'Olivero'
diretor_entrada = diretor_entrada.casefold()

# extrair da nossa base de dados o nome do diretor
director_match = process.extractOne(diretor_entrada, df_director.name, score_cutoff = 10)

# salvar o nome extraido em um objeto
diretor = director_match[0]

In [22]:
director_match

('luis oliveros', 90, 15814)

In [23]:
diretor

'luis oliveros'

In [5]:
def get_director(diretor):
    df1 = df_director[df_director.name == diretor]
    return (df1.n, df1.avg)

In [6]:
director = get_director(diretor)

In [24]:
director

(15814    1
 Name: n, dtype: int64,
 15814    6.3
 Name: avg, dtype: float64)

# Cast

In [7]:
df_cast = df[df.type == 'cast']

In [8]:
df_cast.name

67059         brigitte bardot
67060     olivia de havilland
67061            sophia loren
67062            raquel welch
67063                 li gong
                 ...
335884     gaia chon grimaldi
335885        augusto cortesi
335886        ryan mac lennan
335887        marcin balcerak
335888        anketa maharana
Name: name, Length: 268830, dtype: object

In [9]:
# pegar nome do diretor através do streamlit

# salvar o nome em um objeto
cast_entrada = 'Ryan Ma Lenan'
cast_entrada = cast_entrada.casefold()
cast_entrada2 = 'Gaya Xon Grimaldy'
cast_entrada2 = cast_entrada2.casefold()
cast_entrada3 = 'Rachel Welch'
cast_entrada3 = cast_entrada3.lower()

# extrair da nossa base de dados o nome do diretor
cast_match = process.extractOne(cast_entrada, df_cast.name, score_cutoff = 10)
cast_match2 = process.extractOne(cast_entrada2, df_cast.name, score_cutoff =10)
cast_match3 = process.extractOne(cast_entrada3, df_cast.name, score_cutoff=10)

# salvar o nome extraido em um objeto
cast1 = cast_match[0]
cast2 = cast_match2[0]
cast3 = cast_match3[0]

In [10]:
cast = [cast1, cast2, cast3]

In [11]:
print(cast1)
print(cast2)
print(cast3)
print(cast)

ryan mac lennan
mal
chô
['ryan mac lennan', 'mal', 'chô']

In [26]:
df_cast[df_cast.name.isin(cast)]

                   name       avg  n  type
117520              mal  4.733333  3  cast
123907              chô  7.200000  1  cast
335886  ryan mac lennan  6.500000  1  cast

In [12]:
#funcao que retorna a media dos filmes e a media das medias dos filmes do elenco
def get_actor(cast):
    df1 = df_cast[df_cast.name.isin(cast)]
    return df1.n.mean(), df1.avg.mean()

In [27]:
actor = get_actor(cast)

In [28]:
actor

(1.6666666666666667, 6.144444444444445)

# Roteirista

In [14]:
df_writer = df[df.type == 'writer']

In [15]:
# pegar nome do diretor através do streamlit

# salvar o nome em um objeto
writer_entrada = 'Woodi Alen'
writer_entrada = writer_entrada.casefold()

# extrair da nossa base de dados o nome do diretor
writer_match = process.extractOne(writer_entrada, df_writer.name, score_cutoff = 10)

# salvar o nome extraido em um objeto
roteirista = writer_match[0]

In [29]:
writer_match

('woody allen', 86, 335892)

In [16]:
def get_writer(roteirista):
    df1 = df_writer[df_writer.name == roteirista]
    return (df1.n, df1.avg)

In [17]:
writer = get_writer(roteirista)

In [18]:
df_eda = pd.DataFrame(np.array([[int(director[0]), float(director[1]),int(actor[0]), float(actor[1]), int(writer[0]), float(writer[1])]]),
                   columns= ['director_n', 'director_avg','actor_n','actor_avg','writer_n','writer_avg'])

In [19]:
df_eda['directors'] = diretor
df_eda['casts'] = [cast]
df_eda['writer'] = roteirista

In [20]:
df_eda

,director_n,director_avg,actor_n,actor_avg,writer_n,writer_avg,directors,casts,writer
0,1.0,6.3,1.0,6.144444,3.0,5.6,luis oliveros,"[ryan mac lennan, mal, chô]",woody allen