In [11]:
import pandas as pd 
import numpy as np 
from scipy import stats
import seaborn as sns 
import matplotlib.pyplot as plt 
import warnings 
warnings.filterwarnings('ignore')
import csv

In [12]:
%time rotten=pd.read_csv("C:/Users/Paulo/Desktop/DATA SCIENCE/Projeto_Integrador/rotten-tomato-1960-2020/rt_movie_info.csv", sep = ',' ,encoding= 'ISO-8859-1')

Wall time: 345 ms

In [13]:
rotten.iloc[:2,:].T

,0,1
movie_link,/m/312291718,/m/770681144
movie_name,Tillie's Punctured Romance,Tango Tangles
rating,NR,NR
genre,"Classics,Comedy",Comedy
directors,"Charles Bennett,Mack Sennett",Mack Sennett
writers,Hampton Del Ruth,Mack Sennett
movie_info,"This Keystone comedy, Charlie Chaplin's 33rd, ...",Tango Tangles is an impromptu Keystone comedy ...
poster_image,https://resizing.flixster.com/2cfo_iZmt1DetxOR...,https://resizing.flixster.com/AJKmCcDUQqEOdT3n...
casts,"Charles Chaplin,Marie Dressler,Mabel Normand,C...","Glen Cavender,Charles Chaplin,Edgar Kennedy,Fr..."
in_theaters_date,"Jan 1, 1914","Mar 9, 1914"
on_streaming_date,"Aug 24, 1999",NaN
runtime_in_minutes,73,12
studio_name,Keystone Film Company,Keystone Film Company
box_office,NaN,NaN
critics_consensus,NaN,NaN
tomatometer_status,fresh,NaN
tomatometer_rating,83,25
tomatometer_count,6,0
audience_status,spilled,spilled
audience_want_to_see_count,119,35
audience_rating,44,25
audience_count,972,183
audience_top_critics_count,1,0
audience_fresh_critics_count,5,0
audience_rotten_critics_count,1,0
audience_fresh_top_critics_count,1,0
audience_rotten_rotten_critics_count,0,0
tomatometer_avg_rating,6.38,0
audience_top_critics_avg_rating,0,0
score_sentiment,NEGATIVE,NEGATIVE
audience_avg_rating,3.21,2.65

In [14]:
rotten.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13001 entries, 0 to 13000
Data columns (total 31 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   movie_link                            13001 non-null  object
 1   movie_name                            13001 non-null  object
 2   rating                                13001 non-null  object
 3   genre                                 12965 non-null  object
 4   directors                             12679 non-null  object
 5   writers                               11184 non-null  object
 6   movie_info                            12507 non-null  object
 7   poster_image                          13001 non-null  object
 8   casts                                 12694 non-null  object
 9   in_theaters_date                      11165 non-null  object
 10  on_streaming_date                     10646 non-null  object
 11  runtime_in_minutes                    12781 non-null  float64
 12  studio_name                           11265 non-null  object
 13  box_office                            2425 non-null   object
 14  critics_consensus                     5077 non-null   object
 15  tomatometer_status                    8527 non-null   object
 16  tomatometer_rating                    11447 non-null  float64
 17  tomatometer_count                     13001 non-null  int64
 18  audience_status                       11471 non-null  object
 19  audience_want_to_see_count            13001 non-null  int64
 20  audience_rating                       11293 non-null  float64
 21  audience_count                        11293 non-null  float64
 22  audience_top_critics_count            13001 non-null  int64
 23  audience_fresh_critics_count          13001 non-null  int64
 24  audience_rotten_critics_count         13001 non-null  int64
 25  audience_fresh_top_critics_count      13001 non-null  int64
 26  audience_rotten_rotten_critics_count  13001 non-null  int64
 27  tomatometer_avg_rating                13001 non-null  float64
 28  audience_top_critics_avg_rating       13001 non-null  float64
 29  score_sentiment                       11293 non-null  object
 30  audience_avg_rating                   11293 non-null  float64
dtypes: float64(7), int64(7), object(17)
memory usage: 3.1+ MB

In [42]:
def dados_ausentes(rotten): # uma função de dados ausentes para verificar se existe alum dado faltante
    total = rotten.isnull().sum() # aqui ele somou todos os lugares que não tinham valores 
    percentual = (rotten.isnull().sum()/rotten.isnull().count()*100) # calculou o percentual desses valores
    total_percentual = pd.concat([total, percentual], axis=1, keys=['total', 'percentual']) 
    types = []
    for col in rotten.columns: # dentro do DataFrame(train), ele irá olhar coluna por coluna quais tipos elas são
        dtype = str(rotten[col].dtype)
        types.append(dtype)
    total_percentual['Types'] = types
    return(np.transpose(total_percentual))
dados_ausentes(rotten)

,movie_link,movie_name,rating,genre,directors,writers,movie_info,poster_image,casts,in_theaters_date,...,audience_count,audience_top_critics_count,audience_fresh_critics_count,audience_rotten_critics_count,audience_fresh_top_critics_count,audience_rotten_rotten_critics_count,tomatometer_avg_rating,audience_top_critics_avg_rating,score_sentiment,audience_avg_rating
total,0,0,0,36,322,1817,494,0,307,1836,...,1708,0,0,0,0,0,0,0,1708,1708
percentual,0,0,0,0.276902,2.47673,13.9758,3.79971,0,2.36136,14.122,...,13.1375,0,0,0,0,0,0,0,13.1375,13.1375
Types,object,object,object,object,object,object,object,object,object,object,...,float64,int64,int64,int64,int64,int64,float64,float64,object,float64

In [15]:
rotten['runtime_in_minutes'] = rotten['runtime_in_minutes'].fillna((rotten['runtime_in_minutes'].mean()))

In [16]:
#only the 10'th
rotten_1 = rotten.iloc[:,:11]
rotten_1.head()

,movie_link,movie_name,rating,genre,directors,writers,movie_info,poster_image,casts,in_theaters_date,on_streaming_date
0,/m/312291718,Tillie's Punctured Romance,NR,"Classics,Comedy","Charles Bennett,Mack Sennett",Hampton Del Ruth,"This Keystone comedy, Charlie Chaplin's 33rd, ...",https://resizing.flixster.com/2cfo_iZmt1DetxOR...,"Charles Chaplin,Marie Dressler,Mabel Normand,C...","Jan 1, 1914","Aug 24, 1999"
1,/m/770681144,Tango Tangles,NR,Comedy,Mack Sennett,Mack Sennett,Tango Tangles is an impromptu Keystone comedy ...,https://resizing.flixster.com/AJKmCcDUQqEOdT3n...,"Glen Cavender,Charles Chaplin,Edgar Kennedy,Fr...","Mar 9, 1914",NaN
2,/m/20297,Cabiria,NR,"Art House & International,Classics,Drama",Giovanni Pastrone,Gabriele D'Annunzio,The ancient conflict between Rome and Carthage...,https://resizing.flixster.com/NA4TdKSRbmLNhJKw...,"Alex Bernard,Italia Almirante-Manzini,Lidia Qu...","Jun 1, 1914","Nov 7, 2000"
3,/m/770680394,The Magic Cloak of Oz,NR,"Action & Adventure,Drama,Kids & Family,Science...",J. Farrell MacDonald,L. Frank Baum,Author L. Frank Baum adapts his own original s...,https://resizing.flixster.com/qgZlce0CF5nUrmUX...,"Violet MacMillan,Vivian Reed,Mildred Harris,Fr...","Sep 28, 1914","May 22, 2001"
4,/m/21368,Regeneration,NR,"Classics,Drama",Raoul Walsh,"Raoul Walsh,Carl Harbaugh",Noteworthy as the first ever feature-length cr...,https://resizing.flixster.com/1aKm46hSGRdsc_Fs...,"Rockliffe Fellowes,Anna Q. Nilsson,William She...","Sep 13, 1915","Nov 27, 2001"

In [24]:
#only the before 18'th
rotten_2 = rotten.iloc[:,18:29]
rotten_2.head()

,audience_status,audience_want_to_see_count,audience_rating,audience_count,audience_top_critics_count,audience_fresh_critics_count,audience_rotten_critics_count,audience_fresh_top_critics_count,audience_rotten_rotten_critics_count,tomatometer_avg_rating,audience_top_critics_avg_rating
0,spilled,119,44.0,972.0,1,5,1,1,0,6.38,0.0
1,spilled,35,25.0,183.0,0,0,0,0,0,0.00,0.0
2,upright,176,69.0,1153.0,4,8,1,4,0,7.75,10.0
3,spilled,0,NaN,NaN,0,0,0,0,0,0.00,0.0
4,upright,54,65.0,401.0,2,5,0,2,0,9.17,0.0

In [25]:
rotten_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13001 entries, 0 to 13000
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   audience_status                       11471 non-null  object
 1   audience_want_to_see_count            13001 non-null  int64
 2   audience_rating                       11293 non-null  float64
 3   audience_count                        11293 non-null  float64
 4   audience_top_critics_count            13001 non-null  int64
 5   audience_fresh_critics_count          13001 non-null  int64
 6   audience_rotten_critics_count         13001 non-null  int64
 7   audience_fresh_top_critics_count      13001 non-null  int64
 8   audience_rotten_rotten_critics_count  13001 non-null  int64
 9   tomatometer_avg_rating                13001 non-null  float64
 10  audience_top_critics_avg_rating       13001 non-null  float64
dtypes: float64(4), int64(6), object(1)
memory usage: 1.1+ MB

In [17]:
rotten_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13001 entries, 0 to 13000
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movie_link         13001 non-null  object
 1   movie_name         13001 non-null  object
 2   rating             13001 non-null  object
 3   genre              12965 non-null  object
 4   directors          12679 non-null  object
 5   writers            11184 non-null  object
 6   movie_info         12507 non-null  object
 7   poster_image       13001 non-null  object
 8   casts              12694 non-null  object
 9   in_theaters_date   11165 non-null  object
 10  on_streaming_date  10646 non-null  object
dtypes: object(11)
memory usage: 1.1+ MB

In [18]:
rotten.describe().T

,count,mean,std,min,25%,50%,75%,max
runtime_in_minutes,13001.0,104.137000,5.507805e+01,1.00,91.00,100.00,113.00,5220.00
tomatometer_rating,11447.0,60.381497,2.885595e+01,0.00,38.00,65.00,86.00,100.00
tomatometer_count,13001.0,44.620260,6.830023e+01,0.00,2.00,14.00,57.00,530.00
audience_want_to_see_count,13001.0,21272.536805,1.974758e+05,0.00,32.00,363.00,4460.00,5244969.00
audience_rating,11293.0,62.025680,2.172239e+01,0.00,46.00,65.00,80.00,100.00
audience_count,11293.0,194313.493403,2.004690e+06,5.00,644.00,4777.00,40213.00,35797635.00
audience_top_critics_count,13001.0,10.817168,1.552290e+01,0.00,0.00,3.00,15.00,69.00
audience_fresh_critics_count,13001.0,29.274594,5.210274e+01,0.00,1.00,7.00,34.00,473.00
audience_rotten_critics_count,13001.0,15.345666,2.809655e+01,0.00,0.00,3.00,15.00,299.00
audience_fresh_top_critics_count,13001.0,6.533651,1.115977e+01,0.00,0.00,1.00,8.00,69.00
audience_rotten_rotten_critics_count,13001.0,4.283517,7.633191e+00,0.00,0.00,1.00,5.00,49.00
tomatometer_avg_rating,13001.0,4.880699,2.802004e+00,0.00,3.57,5.64,7.00,10.00
audience_top_critics_avg_rating,13001.0,3.585239,3.277891e+00,0.00,0.00,4.12,6.52,10.00
audience_avg_rating,11293.0,3.522673,5.606479e-01,0.92,3.16,3.58,3.94,4.92

In [27]:
rotten_2.corr().T

,audience_want_to_see_count,audience_rating,audience_count,audience_top_critics_count,audience_fresh_critics_count,audience_rotten_critics_count,audience_fresh_top_critics_count,audience_rotten_rotten_critics_count,tomatometer_avg_rating,audience_top_critics_avg_rating
audience_want_to_see_count,1.000000,0.032323,0.946811,0.200203,0.182813,0.150180,0.181002,0.142508,0.056817,0.084588
audience_rating,0.032323,1.000000,0.026628,0.167626,0.314618,-0.147331,0.323274,-0.135232,0.516416,0.411326
audience_count,0.946811,0.026628,1.000000,0.147733,0.135642,0.098731,0.139604,0.092779,0.040500,0.065459
audience_top_critics_count,0.200203,0.167626,0.147733,1.000000,0.852493,0.732832,0.886774,0.737137,0.356035,0.540489
audience_fresh_critics_count,0.182813,0.314618,0.135642,0.852493,1.000000,0.396477,0.943590,0.354101,0.418230,0.525459
audience_rotten_critics_count,0.150180,-0.147331,0.098731,0.732832,0.396477,1.000000,0.365111,0.956499,0.082484,0.242945
audience_fresh_top_critics_count,0.181002,0.323274,0.139604,0.886774,0.943590,0.365111,1.000000,0.341344,0.435202,0.578111
audience_rotten_rotten_critics_count,0.142508,-0.135232,0.092779,0.737137,0.354101,0.956499,0.341344,1.000000,0.087767,0.253941
tomatometer_avg_rating,0.056817,0.516416,0.040500,0.356035,0.418230,0.082484,0.435202,0.087767,1.000000,0.659041
audience_top_critics_avg_rating,0.084588,0.411326,0.065459,0.540489,0.525459,0.242945,0.578111,0.253941,0.659041,1.000000

In [29]:
rotten_2.describe()

,audience_want_to_see_count,audience_rating,audience_count,audience_top_critics_count,audience_fresh_critics_count,audience_rotten_critics_count,audience_fresh_top_critics_count,audience_rotten_rotten_critics_count,tomatometer_avg_rating,audience_top_critics_avg_rating
count,1.300100e+04,11293.000000,1.129300e+04,13001.000000,13001.000000,13001.000000,13001.000000,13001.000000,13001.000000,13001.000000
mean,2.127254e+04,62.025680,1.943135e+05,10.817168,29.274594,15.345666,6.533651,4.283517,4.880699,3.585239
std,1.974758e+05,21.722395,2.004690e+06,15.522902,52.102736,28.096546,11.159768,7.633191,2.802004,3.277891
min,0.000000e+00,0.000000,5.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.200000e+01,46.000000,6.440000e+02,0.000000,1.000000,0.000000,0.000000,0.000000,3.570000,0.000000
50%,3.630000e+02,65.000000,4.777000e+03,3.000000,7.000000,3.000000,1.000000,1.000000,5.640000,4.120000
75%,4.460000e+03,80.000000,4.021300e+04,15.000000,34.000000,15.000000,8.000000,5.000000,7.000000,6.520000
max,5.244969e+06,100.000000,3.579764e+07,69.000000,473.000000,299.000000,69.000000,49.000000,10.000000,10.000000