## Import World Bank Tutorial

In [1]:
#import packages
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
import pandas_datareader as pdr
from pandas_datareader import wb

C:\Users\camil\anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

### World Bank

Indicator Sources: https://data.worldbank.org/indicator

### GDP and Rural %

* Countries:
     * Kenya(KEN), Mozambique(MOZ), Zambia(ZMB), Zimbabue 
     
* Indicators:
    * GDP growth (annual %): NY.GDP.MKTP.KD.ZG
    * Rural population (% of total population): SP.RUR.TOTL.ZS
    
* Period:
    * 1990-2000:

In [21]:
#get data from World Bank Indicators
df = wb.download(indicator=['NY.GDP.MKTP.KD.ZG','SP.RUR.TOTL.ZS'], country=['KEN', 'MOZ', 'ZMB', 'ZWE'], start=1990, end=2000)

In [22]:
#print first 5 rows
df.head()

              NY.GDP.MKTP.KD.ZG  SP.RUR.TOTL.ZS
country year
Kenya   2000           0.599695          80.108
        1999           2.305389          80.450
        1998           3.290214          80.778
        1997           0.474902          81.102
        1996           4.146839          81.421

In [23]:
# reset index
df =df.reset_index()

In [24]:
df.head()

  country  year  NY.GDP.MKTP.KD.ZG  SP.RUR.TOTL.ZS
0   Kenya  2000           0.599695          80.108
1   Kenya  1999           2.305389          80.450
2   Kenya  1998           3.290214          80.778
3   Kenya  1997           0.474902          81.102
4   Kenya  1996           4.146839          81.421

In [25]:
#rename columns
df.columns = ['country', 'year','gdp_growth', 'rural_pop']

In [26]:
#get info about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     44 non-null     object
 1   year        44 non-null     object
 2   gdp_growth  44 non-null     float64
 3   rural_pop   44 non-null     float64
dtypes: float64(2), object(2)
memory usage: 1.5+ KB

In [27]:
# export the df to csv

##it's important to change the path where do you want to export the data
df.to_csv('C:/Users/camil/Desktop/MethodsIII/wb.csv',index=False)